<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.dao.ManagerDeviceMapper">
  <resultMap id="BaseResultMap" type="com.manager.system.model.ManagerDevice">
    <constructor>
      <idArg column="pkid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="item_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="item_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sn" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mac" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="keeper" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="supervisor" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="record_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modify_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cfrom" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="message" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pkid, item_id, item_type, sn, mac, keeper, supervisor, status, record_time, modify_time, 
    cfrom, message
  </sql>
  <select id="selectByExample" parameterType="com.manager.system.model.ManagerDeviceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from service_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.manager.system.model.ManagerDeviceKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_item
    where pkid = #{pkid,jdbcType=INTEGER}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.manager.system.model.ManagerDeviceKey">
    delete from service_item
    where pkid = #{pkid,jdbcType=INTEGER}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.manager.system.model.ManagerDeviceExample">
    delete from service_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.manager.system.model.ManagerDevice">
    insert into service_item (pkid, item_id, item_type, 
      sn, mac, keeper, supervisor, 
      status, record_time, modify_time, 
      cfrom, message)
    values (#{pkid,jdbcType=INTEGER}, #{itemId,jdbcType=VARCHAR}, #{itemType,jdbcType=VARCHAR}, 
      #{sn,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, #{keeper,jdbcType=VARCHAR}, #{supervisor,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{recordTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{cfrom,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.system.model.ManagerDevice">
    insert into service_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        pkid,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="itemType != null">
        item_type,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="keeper != null">
        keeper,
      </if>
      <if test="supervisor != null">
        supervisor,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="cfrom != null">
        cfrom,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkid != null">
        #{pkid,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="keeper != null">
        #{keeper,jdbcType=VARCHAR},
      </if>
      <if test="supervisor != null">
        #{supervisor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="cfrom != null">
        #{cfrom,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.manager.system.model.ManagerDeviceExample" resultType="java.lang.Long">
    select count(*) from service_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update service_item
    <set>
      <if test="record.pkid != null">
        pkid = #{record.pkid,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null">
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemType != null">
        item_type = #{record.itemType,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null">
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.mac != null">
        mac = #{record.mac,jdbcType=VARCHAR},
      </if>
      <if test="record.keeper != null">
        keeper = #{record.keeper,jdbcType=VARCHAR},
      </if>
      <if test="record.supervisor != null">
        supervisor = #{record.supervisor,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTime != null">
        record_time = #{record.recordTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.cfrom != null">
        cfrom = #{record.cfrom,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update service_item
    set pkid = #{record.pkid,jdbcType=INTEGER},
      item_id = #{record.itemId,jdbcType=VARCHAR},
      item_type = #{record.itemType,jdbcType=VARCHAR},
      sn = #{record.sn,jdbcType=VARCHAR},
      mac = #{record.mac,jdbcType=VARCHAR},
      keeper = #{record.keeper,jdbcType=VARCHAR},
      supervisor = #{record.supervisor,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      record_time = #{record.recordTime,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      cfrom = #{record.cfrom,jdbcType=VARCHAR},
      message = #{record.message,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.system.model.ManagerDevice">
    update service_item
    <set>
      <if test="itemType != null">
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="keeper != null">
        keeper = #{keeper,jdbcType=VARCHAR},
      </if>
      <if test="supervisor != null">
        supervisor = #{supervisor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="cfrom != null">
        cfrom = #{cfrom,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where pkid = #{pkid,jdbcType=INTEGER}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.system.model.ManagerDevice">
    update service_item
    set item_type = #{itemType,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      keeper = #{keeper,jdbcType=VARCHAR},
      supervisor = #{supervisor,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      cfrom = #{cfrom,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where pkid = #{pkid,jdbcType=INTEGER}
      and item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>